{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <diV class="logFormContainer">
        <form method="post" action="/login/create" class="signUpForm">
            <h2>Create a new account</h2>
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ form.username }}"/>
            <p class="errorMessage">{{ errors.username }}</p>
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ form.email }}"/>
            <p class="errorMessage">{{ errors.email }}</p>
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password" name="password"/>
            <p class="errorMessage">{{ errors.password }}</p>
            <label for="password2">Repeat password:</label>
            <input type="password" class="form-control" id="password2" name="password2"/>
            <p class="errorMessage">{{ errors.password2 }}</p>
            <button type="submit" class="fightButton">Create !</button>
        </form>
    </diV>
    <div class="signUpLink">
        <a href="/login/logIn">Already have an account ? Log In !</a>
    </div>
{% endblock %}

{% block javascript %}{% endblock %}