<div class="row charEventCol" id="upperCharBox">
    <div class="charBox">
        <div class="imageUploader">
            <div class="frameBackgroundElevator{{ game.max_floor }}">
                <img class="avatarElevator" id="output" src="/upload/{{ game.image }}" alt="player avatar">
            </div>
            <div class="namePlateElevator eventPlate">
                <h2>{{ game.name }}</h2>
            </div>
        </div>
    </div>
    <div class="flex-grid">
        <div class="grid-item" id="gi1">
            {{ game.strength }}<br><br><br><br><br>
        </div>
        <div class="grid-item" id="gi2">
            {{ game.energy }}<br><br><br><br><br>
        </div>
        <div class="grid-item" id="gi3">
            {{ game.humor }}<br><br><br><br><br>
        </div>
        <div class="grid-item" id="gi4">
            {{ game.agility }}<br><br><br><br><br>
        </div>
    </div>
    <div class="div-items">
       <table class="items">
          {% set index = 0 %}
          {% for i in 0..1 %}
              <tr class="tr-items">
                  {% for j in 0..2 %}
                      {%if items[index].image is defined %}
                          <th class="column-item">
                              <img class="image-item" alt="{{ items[index].name }}" title="Str: {{ items[index].strength }}, Ene: {{ items[index].energy }}, Hum: {{ items[index].humor }}, Agi: {{ items[index].agility }}" src="/assets/images/items/{{ items[index].image }}">
                          </th>
                      {% else %}
                          <th> </th>
                      {% endif %}
                      {% set index = 1 + index %}
                  {% endfor %}
             </tr>
          {% endfor %}
        </table>
    </div>
</div>