<div class="row m-3">
    <div class="col text-center">
        <h2>{{ event.name }} - Floor {{ game.max_floor }}</h2>
    </div>
</div>
<div class="row m-3">
    <div class="col text-center">
        <span>{{ event.description }}</h3></span>
    </div>
</div>
<div class="row m-3">
    <div class="col">
        <input type="image" name="image" alt="image_event" class="eventImage rounded mx-auto d-block center" src="{{ event.image }}">
    </div>
</div>
<div class="row m-3">
    <div class="col">
        <form action="/game/result" method="post">
            <div class="event-buttons">
                <input type="submit" name="action" value="Action 1" class="m-2">
                <input type="submit" name="action" value="Action 2" class="m-2">
                <input type="submit" name="action" value="Action 3" class="m-2">
                <input type="submit" name="action" value="Action 4" class="m-2">
            </div>
            <input type="hidden" value="{{ event.id }}" name="event_id">
            <input type="hidden" value="{{ game.id }}" name="game_id">
        </form>
    </div>
</div>