{% extends 'layout.html.twig' %}

{% block stylesheet %}{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <div class="score">
        {% for game in score %}
            <div class="game_score">
                <div class="name_image" >
                    {{ game.name }}
                    <img  src="/upload/{{ game.image }}">
                </div>
                <div class="circle">
                    Floor {{ game.max_floor }} <br /> Level {{ game.event_count }}
                </div>
                <div class="items_score">
                    {% for item in items %}
                        {% if game.id == item.game_id %}
                            <div class="item_score">
                                <div>{{ item.name }}</div>
                                <div><img class="item_image" src="{{ item.image }}"></div>
                            </div>

                        {% endif %}

                    {% endfor %}
                </div>
            </div>
            <span class="divider"></span>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}{% endblock %}